@model leavedays.Models.ViewModels.Account.CreateUserModel
@{
    ViewBag.Title = "Create Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="fieldBlock">
    @using (Html.BeginForm("CreateCompany", "Account", FormMethod.Post, new { id = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <h2>Create Company</h2>
        <div class="bordered">
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.CompanyName)</td>
                    <td>
                        @Html.EditorFor(model => model.CompanyName)
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CompanyUrl)</td>
                    <td>
                        @Html.EditorFor(model => model.CompanyUrl)
                        @Html.ValidationMessageFor(model => model.CompanyUrl)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.UserName)</td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.PhoneNumber)</td>
                    <td>
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Email)</td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FirstName)</td>
                    <td>
                        @Html.EditorFor(model => model.FirstName)
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.LastName)</td>
                    <td>
                        @Html.EditorFor(model => model.LastName)
                        @Html.ValidationMessageFor(model => model.LastName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DropDownList("LicenseName", Model.LicenseList.Select(l => new SelectListItem() { Text = l.Name }))
                    </td>
                </tr>
            </table>
        </div>
        @Html.ValidationSummary()
        <input type="submit" value="Create" id="submit" style="margin-left: 10px;" />
    }
</div>