@model leavedays.Models.ViewModel.LicenseInfo

@{
    ViewBag.Title = "Licence Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>licence information</h2>



<div class="detail_content">


    <div class="toolbar">


    </div>
    <div style="padding: 2px">
        <div class="c-toolbar">
            <a href="/License.aspx/SetAliasForAdministration/98!47">rename alias</a>

        </div>
    </div>


    <fieldset>

        <div class="display-label">
            name
        </div>
        <div class="display-field">
            @if (User.Identity.IsAuthenticated)
            {
                @User.Identity.Name
            }
        </div>

        <br />
        <div class="display-label">
            license code
        </div>
        <div class="display-field">
            @Model.LicenceCode;
        </div>

        <br />
        <div class="display-label">
            expires on:
        </div>
        <div class="display-field">
            <label id="Expires">
                @Model.ExpirationDate;
            </label>
        </div>

        <br />

        <div class="display-label">
            modules
        </div>
        <div class="display-field">
            <ul>
                @foreach (string module in Model.AvilableModules)
                {
                    <li>
                        @module;
                    </li>
                }
            </ul>

        </div>

        <br />

        <div class="display-label">
            number of users
        </div>
        <div class="display-field">
            @Model.UsersNum;
        </div>

        <br />

        <div class="display-label">
            used licenses
        </div>
        <div class="display-field">
            @Model.UsedLicenses;
        </div>

        <br />

    </fieldset>



</div>
